<%= form_for([:admin, @survey], html: {class: 'survey-form'}) do |f| %>
    <%= render 'shared/error_messages', object: @survey if @survey.errors.any? %>

    <div class='field'>
      <div class='row'>
        <div class='form-group col-sm-4'>
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class='form-group col-sm-4'>
          <%= f.label :attempts_number, 'Maximum number of attempts (0 is infinite)' %>
          <%= f.number_field :attempts_number, min: 0, class: 'form-control' %>
        </div>
        <div class='form-group col-sm-4'>
          <%= f.label :active %>
          <%= f.select :active, ['true', 'false'], {}, class: 'form-control' %>
        </div>
      </div>

      <div class='row'>
        <div class='form-group col-sm-12'>
          <%= f.label :description %>
          <%= f.text_area :description, size: '100x5', class: 'form-control', style: 'max-width: 100%;' %>
        </div>
      </div>

      <div class='row'>
        <%= f.fields_for :questions do |builder| %>
            <%= render 'question_fields', f: builder %>
        <% end %>
      </div>
      <%= link_to_add_fields '', f, :questions, class: 'glyphicon glyphicon-plus btn btn-primary add_fields_link pull-right ' %>
    </div>

    <div class="actions pull-right align-actions" >
      <%= link_to t('back'), admin_surveys_path, class: 'btn btn-default' %>
      <%= f.submit class: 'btn btn-primary', id: 'submit_survey', data: {disable_with: 'processing'} %>
    </div>

<% end -%>
<%= content_for :script do %>
    <script type='text/javascript'>
        $("form").submit(function () {
            $('textarea.escaped').each(
                    function (index) {
                        var input = $(this);

                        var escaped_content = input.val()
                                .replace(/"/g, '&quot;')
                                .replace('”', '&quot;')
                                .replace(/'/g, '&#39;')
                                .replace(/</g, '&lt;')
                                .replace(/>/g, '&gt;');

                        input.val(escaped_content);

                    }
            );
        });


        $(document).ready(function () {
            turn_textareas_autogrow();
        });

        function turn_textareas_autogrow(){

            $('textarea.autogrow').each(function () {//fix grow onload
                autogrower($(this));
            });

            $('textarea.autogrow').bind('input keyup change cut paste', function () {
                autogrower($(this));
            });
        }

        function autogrower(element){
            $(element).css("height", 'auto');
            $(element).css("height", element[0].scrollHeight + 3 + 'px');
        }
    </script>
<% end %>



<!--http://localhost:3000/surveys/3/attempts/18-->

<!--//alert('Type: ' + input.attr('type') + 'Name: ' + input.attr('name') + 'Value: ' + input.val());-->
<!--var escaped_content = input.val()-->
<!--.replace(/&/g, '&amp;')-->
<!--.replace(/>/g, '&gt;')-->
<!--.replace(/</g, '&lt;')-->
<!--.replace(/"/g, '&quot;')-->
<!--.replace(/'/g, '&apos;');-->