<div class="bs-callout bs-callout-primary fields">

  <fieldset>
    <legend>Question <%= f.options[:child_index] + 1 %></legend>

    <div class="form-group">
      <%= f.label :text %>
      <%= f.text_area :text, placeholder: 'question', rows: '6', class: 'form-control escaped' %>
    </div>

    <div class="form-group">
      <%= f.label :weight %>
      <%= f.text_field :weight, class: 'form-control-short' %>

      <%= f.label :multiple_choice do %>
          <%= f.check_box :multiple_choice %> Multiple Choice?
      <% end %>
    </div>

    <fieldset>
      <legend>Options </legend>
      <ol class="lower-alpha convert-code-options">
        <%= f.fields_for :options do |builder| %>
            <%= render 'option_fields', f: builder %>
        <% end -%>
        <%= link_to_add_fields '', f, :options, class: 'glyphicon glyphicon-plus btn btn-info add_fields_link pull-right ' %>
      </ol>
    </fieldset>

    <div class="form-group">
      <%= f.label :explanation %>
      <%= f.text_area :explanation, placeholder: 'question', rows: '3', class: 'form-control' %>
    </div>

    <%= f.hidden_field :_destroy %>
    <%= link_to '', '#', class: 'glyphicon glyphicon-remove btn  btn-danger remove_fields' %>
  </fieldset>
</div>


