<h2>Surveys</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Attempts number</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.name %></td>
        <td><%= survey.description %></td>
        <td><%= survey.attempts_number %></td>
        <td><%= survey.active %></td>
        <td><%= link_to 'Start', new_admin_survey_attempt_path(survey), class: 'btn btn-primary'%></td>
        <td><%= link_to 'Show', [:admin, survey] %></td>
        <td><%= link_to 'Edit', edit_admin_survey_path(survey) %></td>
        <td><%= link_to 'Destroy', [:admin, survey], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="actions pull-right">
  <%= link_to t('back'), admin_surveys_path, class: 'btn btn-default' %>
  <%= link_to 'New Survey', new_admin_survey_path, class: 'btn btn-primary' %>
</div>
