<h2>Surveys</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Attempts number</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= link_to(survey.name, [:admin, survey]) %></td>
        <td><%= survey.description %></td>
        <td><%= survey.attempts_number %></td>
        <td><%= survey.active %></td>
        <td><%= link_to '', new_survey_attempt_path(survey), class: 'glyphicon glyphicon-play btn-xs btn-success', title: "Start"%></td>
        <td><%= link_to '', edit_admin_survey_path(survey), class: 'glyphicon glyphicon-pencil btn-xs btn-primary', title: "Editar" %></td>
        <td><%= link_to '', admin_survey_path(survey), method: :delete, data: {confirm:'Are you sure?', ok:  'ok' , cancel:  'cancel'}, class: 'glyphicon glyphicon-remove btn-xs btn-danger', title: "Excluir" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="actions pull-right">
  <%= link_to t('back'), admin_surveys_path, class: 'btn btn-default' %>
  <%= link_to 'New Survey', new_admin_survey_path, class: 'btn btn-primary' %>
</div>
