<%= require 'rack/utils' %>

<p>
  <strong>Name:</strong>
  <%= @survey.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @survey.description %>
</p>

<p>
  <strong>Attempts number:</strong>
  <%= @survey.attempts_number %>
</p>

<p>
  <strong>Questions:</strong>
  <%= @survey.questions.try(:lenght) %>
</p>

<p>
  <strong>Active:</strong>
  <%= @survey.active %>
</p>

<ol class="questions">
<% @survey.questions.each do |question| %>
    <li>
      <h3><%= question.text %></h3>
      <p><strong>multiple choice:</strong> <%= question.multiple_choice %>  <strong>weight: <%= question.weight %></strong></p>

      <ul class="options">
        <% question.options.each do |option| %>
            <li>
              <label class="<%= option.correct? ? 'correct-answer' : 'wrong-answer' %>"> <%= raw option.text %></label>
            </li>
        <% end %>
      </ul>

      <strong>Explanation:</strong> <br /><%= question.explanation %>
    </li><hr />
<% end %>
</ol>

<div class="actions pull-right">
  <%= link_to t('all'), admin_surveys_path, class: 'btn btn-default' %>
  <%= link_to t('edit'), edit_admin_survey_path(@survey), class: 'btn btn-primary' %>
  <button onclick="convert()">Convert</button>
</div>





<script type="text/javascript">

    function convert() {
        $("ul.options").children().each(function() {
            $(this).html($(this).html().replace(/\[\s*\w*\s*code="xml hljs"\]/g,"<pre><code class='xml hljs'>"));
            $(this).html($(this).html().replace(/\[\s*\w*\s*code="css hljs"\]/g,"<pre><code class='css hljs'>"));
            $(this).html($(this).html().replace(/\[\s*\w*\s*code="javascript"\]/g,"<pre><code class='javascript'>"));
            $(this).html($(this).html().replace(/\[\/code\]/g,"</code></pre>"));
        });

        $('pre code').each(function (i, block) {
            hljs.highlightBlock(block);
        });
    }
</script>