<h2><%= t('.title', resource: resource_class.model_name.human, default: "Edit #{resource_name.to_s.humanize}") %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
    <%= render 'shared/error_messages', object: resource %>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <!--<div><%#= t('.currently_waiting_confirmation_for', default: 'Currently waiting confirmation for') %>: <%#= resource.unconfirmed_email %></div>-->
        <div><%= t('.currently_waiting_confirmation_for') %>: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field form-group">
      <%= f.label :current_password %> <i><%= t('.we_need_your_current_password_to_confirm_your_changes', default: 'we need your current password to confirm your changes')%></i>
      <%= f.password_field :current_password, autocomplete: 'off' , class: 'form-control'%>
    </div>

    <div class="field form-group">
      <%= f.label :password %> <i><%= t('.leave_blank_if_you_don_t_want_to_change_it', default: "leave blank if you don't want to change it") %></i>
      <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
    </div>

    <div class="field form-group">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: 'off' , class: 'form-control'%>
    </div>

    <div class="actions">
      <%= link_to t('back'), :back , class: 'btn btn-default' %> <%= f.submit t('.submit', default: 'Update'), class: 'btn btn-info' %>
    </div>

<% end %>

<!--<h3>Cancel my account</h3>-->

<!--<p>Unhappy? <%#= button_to "Cancel my account", registration_path(resource_name), data: {confirm: "Are you sure?"}, method: :delete %></p>-->


