<!--<p>-->
<!--<strong>Participant:</strong>-->
<!--<%#= @attempt.participant %>-->
<!--</p>-->
<h2>Result</h2>
<h3> <%= @attempt.survey %> </h3>

<ol class="questions">
  <% @attempt.answered_questions.each do |question| %>
      <li>
        <h3><%= question.text %></h3>
        <p>
          <strong>multiple choice:</strong> <%= question.multiple_choice %>
          <strong>weight: 5 </strong>
          <strong>correct?:</strong> <%= @attempt.correct_answered_options?(question) %>
        </p>
        <ul class="options">
          <% question.options.each do |option| %>
              <% my_options = @attempt.answers.includes(:option).where(options: {question_id: question.id}).pluck(:option_id).compact %>
              <li>
                <%= check_box_tag 'tos', 'yes', my_options.include?(option.id), class: 'options' %>
                <label class="<%= option.correct? ? 'correct-answer' : 'wrong-answer' %>"> <%= option.text %></label>
              </li>
          <% end %>
        </ul>
        <strong>Explanation:</strong> <br /><%= question.explanation %>
      </li>
      <hr/>
  <% end %>
</ol>

<div class="actions pull-right">
  <%= link_to t('all'), admin_survey_attempts_path(@survey), class: 'btn btn-default' %>
  <%= link_to t('edit'), edit_admin_survey_attempt_path(@survey, @attempt), class: 'btn btn-primary' %>
</div>

