<h2> <%= t('.title', default: 'Sign in') %></h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= render 'shared/error_messages', object: resource %>

    <div class="field form-group">
      <%= f.label :email %>
      <%= f.text_field :email, autofocus: true, class: 'form-control' %>
    </div>

    <div class="field form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit t('.submit', default: 'Sign in'), class: 'btn btn-primary' %>
      <%= render 'devise/shared/links' %>
    </div>
<% end %>

