<div class="bs-callout bs-callout-primary fields">
  <fieldset>
    <legend>Questions</legend>

    <div class="form-group">
      <%= f.label :text %>
      <%= f.text_area :text, placeholder: 'question', class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :multiple_choice do %>
          <%= f.check_box :multiple_choice %> Multiple Choice
      <% end %>
      Delete: <%= f.check_box :_destroy %>
    </div>

    <fieldset>
      <legend>Options <%= link_to_add_fields '', f, :options, class: 'glyphicon glyphicon-plus btn btn-info add_fields_link pull-right ' %></legend>
      <ol class='appendable'>
        <%= f.fields_for :options do |builder| %>
           <li class="nested"> <%= render 'option_fields', f: builder %></li>
        <% end -%>
      </ol>
      <%= link_to '', '#', class: 'glyphicon glyphicon-remove btn  btn-danger remove_fields' %>

    </fieldset>

  </fieldset>
</div>


