<%= form_for([@survey, @attempt]) do |f| %>
    <%= render 'shared/error_messages', object: @attempt if @attempt.errors.any? %>
    <%= hidden_field_tag "attempt[participant_id]", 1 %>
    <%= hidden_field_tag "attempt[participant_type]", 'User' %>

    <h2 class="survey"><%= @survey.name %></h2>

    <ol class="questions">
      <% answer_idx = 0 %>
      <% @survey.questions.each do |question| %>
          <li>
            <h4 class="question convert-code-title"><%= question.text.html_safe %></h4>
            <ol class="options lower-alpha convert-code-options">
              <% question.options.each do |option| %>
                  <% @attempt.answers.build %>
                  <% answer_idx += 1 %>
                  <li>
                    <div class="parent">
                      <div class="child">
                        <%= check_box_tag "attempt[answers_attributes][#{answer_idx}][option_id]", option.id, f.object.answers.include?(option) %>
                      </div>
                      <div class="child">
                        <%= label_tag :text do %>
                            <%= option.text.html_safe %>
                        <% end %>
                      </div>
                    </div>
                  </li>
              <% end %>
            </ol>
            <hr/>
          </li>
      <% end %>
    </ol>
    <div class="actions pull-right">
      <%= link_to t('back'), survey_attempts_path(@survey), class: 'btn btn-default' %>
      <%= f.submit class: 'btn btn-primary', id: 'submit_attempt', data: {disable_with: 'processing'} %>
    </div>
<% end -%>


<%= content_for :script do %>
    <%= render 'shared/javascript_highlight_function' %>
<% end %>