<!DOCTYPE html>
<html>
<head>
  <title>Survey4Certification</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="author" content="RJO">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
  <%= render 'shared/stylesheet_cdn_includes' %>

  <%= csrf_meta_tags %>
</head>
<style>
  /*.content-hide:after {*/
  /*content: " +";*/
  /*}*/

  /*.content-show:after {*/
  /*content: " -";*/
  /*}*/

  legend a {
    color: inherit;
  }

  fieldset.fieldset-explanation {
    border: 1px solid #999999;
    padding: 4px;
    margin: 5px;
  }

  legend.legend-explanation {
    font-size: 90%;
    background: #128023;
    color: #FFF;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
  }

  .content-explanation {
    display: none;
  }

  legend {
    width: auto;
    border-bottom: 0px;
  }


  input[type=checkbox], input[type=radio] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
  }
  input[type=radio] {
    bottom: 2px;
  }

</style>

<body>
<%= render 'shared/navbar' %>
<%= render 'shared/bootstrap_dialog_modal' %>
<%= render 'shared/flash_messages' %>

<div id="content" class="content col-md-12">
  <%= yield %>
</div>

<%#= render 'shared/footer' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
<%= render 'shared/javascript_cdn_includes' %>
<%= yield(:script) if content_for?(:script) %>

</body>
</html>


